<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a software engineer currently pursuing a master's degree
     in Computer Science at UNC Charlotte.</p>
    <p>I love developing software applications using Javascript, Node.JS, React.JS, Ruby on Rails and many other technologies.</p>
    <p>I have 3 years of work experience working mostly with Relational Databases like Oracle, MS SQL Server, Netezza and MySQL.
      I have worked as a Quality Analyst in BI/ETL and
      Data Warehousing Projects while working for Cognizant. I have worked for multiple clients
      like Fossil, Kantar, Realogy, Lululemon, 7-Eleven and Sodexo.</p>
    <p>I am currently seeking Summer Internship opportunities in
      Software Development or Full Stack.</p>
  </div>
  <div class="col-2 homepage_content">
  <h2><%= link_to "Professional Experience", work_path %></h2>
  <hr>
  <h3>Quality Analyst in ETL and Data Migration Project for Kantar, UK based Client</h3>
  <p class="date">December 2014 - May 2015</p>
  <h3>Quality Analyst in Data Migration and Reporting Project for Fossil, USA based Client</h3>
  <p class="date">June 2015 - January 2016</p>
  <h3>Quality Analyst in Cubes and ETL Project for Realogy, USA based Client.</h3>
  <p class="date">February 2016 - April 2016</p>
  <h3><%= link_to "View full work experience...", work_path %></h3>
  </div>
  <div class="col-3 homepage_content">
    <h2><%= link_to "Projects", projects_path %></h2>
    <hr>
    <% @projects.each do |project| %>
    <h3><%= link_to project.title, project%></h3>
    <p class="date"> <%= project.time_period %></p>
    <% end %>
    <h3><%= link_to "View more...", projects_path %></h3>
  </div>
</div>
