<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
  <h2><%= pluralize(@project.errors.count, "count") %> prevented this project from saving:</h2>
  <ul>
    <%= @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %>
  <br>
  <br>

  <%= f.label :description,"Enter description" %><br>
  <%= f.text_area :description %>
  <br>
  <br>

  <%= f.label :link,"Enter link" %><br>
  <%= f.text_field :link %>
  <br>
  <br>

  <%= f.label :time_period,"Enter time period of Project" %><br>
  <%= f.text_field :time_period %>
  <br>
  <br>

  <%= f.submit %>

<% end %>
