<!DOCTYPE html>
<html>
  <head>
    <title>Suvajit Chakrabarty - Full Stack and Software Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/b7a587aa34.js"></script>


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class ="clearfix">
      <%= link_to "Suvajit Chakrabarty", root_path, class: "name" %>
      <nav>
        <%= link_to "Professional Experience", work_path %>
        <%= link_to "Projects", projects_path %>
        <%= link_to "Blog", posts_path %>
        <%= link_to "Contact", new_contact_path %>
      </nav>
    </header>
    <%= yield %>
    <footer id="main_footer">
      <p class="copyright">&copy;2017 Suvajit Chakrabarty</p>
      <nav>
        <a href="https://www.linkedin.com/in/suvajit-chakrabarty/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/esjayrockz" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/esjayrockz" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </nav>

    </footer>
  </body>
</html>
